<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- SCRIPT de bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- **************************************************** -->
  <!--                       Menu de opciones  -->
  <!-- **************************************************** -->
  <div class="div">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Turismo Ecuador</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/inicioSeccion">Inicio</a></li>
          <li><a href="/lugaresTuristicos">Lugares Turisticos</a></li>
          <li><a href="/SitiosObservatorios">Sitios Observatorios</a></li>
          <li><a href="/playasEcuador">Playas</a></li>
          <li><a href="/IslaGalapagos">Islas Galapagos</a></li>
          <li><a href="/montañita">Montañita</a></li>
          <li><a href="/Gastronomia">Gastronomia</a></li>
          <li><a href="/Bloc_Informativo">Block Informativo</a></li>
          <li><a href="/Contactos">Contactos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
  </div>




  <!-- Es un contenedor donde se ecuentra un formulario para ingreso de datos -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" method="post">
            <fieldset>

              <p>
                Turismo Ecuador, podemos realizar actividades turísticas con deportes de aventura (buceo, canopy,
                turismo gastronómico, turismo fiestas religiosas, fiestas populares, fiestas cívicas, cultura y arte,
                sitios naturales, turismo en las comunidades.

              </p>
              <center>
                <h1>¿Cómo es el clima en el Ecuador?</h1>
              </center>
              <p>
                Por ser Ecuador un país intertropical, en ninguna región puede hablarse de estaciones: sin embargo
                podemos decir que hay época de invierno y verano la primera se define de diciembre a mayo y la segunda
                de junio a noviembre. Se puede decir que todo el año las temperaturas se mantiene más o menos uniforme,
                no llegando a más de 2 °C la diferencia entre el mes más caluroso y el mes más frío. En consecuencia,
                existen dos períodos, uno seco impropiamente llamado verano, y el otro lluvioso también llamado
                impropiamente invierno.
              </p>

              <center>
                <h1>Lugares de interés turístico cultural en Ecuador</h1>
              </center>
              <ul>
                <li>Centro Histórico de Quito, </li>
                <li>Mitad del Mundo, </li>
                <li>Ruinas de Ingapirca, </li>
                <li>Centro Histórico de Cuenca </li>
              </ul>
              <center>
                <h1>Ciudades más importantes de Ecuador</h1>
              </center>
              <p>Quito Ecuador.- La capital de los ecuatorianos es Quito, en ésta ciudad se encuentra los cuatro poderes
                del estado. Y el palacio de Carondelet donde el presidente de la República ejerce su mandato. Quito es
                reconocida por la Unesco como Patrimonio Cultural de la Humanidad. Adicionalmente ha sido ganadora como
                el mejor destino turístico de los premios World Travel Word. En éste lugar está marcado por las
                tradiciones y leyendas y tiene un gran legado cultural.</p>
              <p>Guayaquil Ecuador.- ciudad más poblada y puerto principal de Ecuador. Guayaquil se ha desarrollado como
                un destino turístico nacional e internacional, siendo sede de ferias y eventos internacionales. La zona
                del centro de la ciudad de Guayaquil es uno de los lugares más importantes para el turismo</p>
              <p>Cuenca Ecuador.- considerada una de las ciudades más bellas del Ecuador, por su arquitectura colonial y
                republicana; ideal para turismo cultural, religioso, gastronómico o descanso. Declarada patrimonio
                cultural de la Humanidad por la Unesco Otras ciudades importantes son: Baños, Manta, Salinas, Loja
                Ecuador, Machala, Santo Domingo, Salinas, Santa Cruz y Tena.</p>
              <center> <iframe width="560" height="315" src="https://www.youtube.com/embed/DlLF3yP400c"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></center>
        </div>
        </fieldset>
        </form>
      </div>
    </div>
  </div>
  </div>

  <!-- Imagen despues del contenido del formulario se encuentra con sus respectivas dimensiones-->

  <img src=" https://i0.wp.com/eingleses.com/wp-content/uploads/2017/01/fashionista.jpg" width="967" height="436">

</body>
<style>
  * {
    background-color: #EBB600 #B3B0AB;
  }

  .header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
  }

  .bigicon {
    font-size: 35px;
    color: #36A0FF;
  }
</style>

</html>