<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!-- SCRIPT de bootstrap -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
     <!-- **************************************************** -->
  <!--                       Menu de opciones  -->
  <!-- **************************************************** -->
  <div class="div">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Turismo Ecuador</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/inicioSeccion">Inicio</a></li>
          <li><a href="/lugaresTuristicos">Lugares Turisticos</a></li>
          <li><a href="/SitiosObservatorios">Sitios Observatorios</a></li>
          <li><a href="/playasEcuador">Playas</a></li>
          <li><a href="/IslaGalapagos">Islas Galapagos</a></li>
          <li><a href="/montañita">Montañita</a></li>
          <li><a href="/Gastronomia">Gastronomia</a></li>
          <li><a href="/Bloc_Informativo">Block Informativo</a></li>
          <li><a href="/Contactos">Contactos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
  </div>

</body>
</html>