<!DOCTYPE html>
<html lang="en">

<head>

  <!-- SCRIPT de bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  <!-- **************************************************** -->
  <!--                       Menu de opciones  -->
  <!-- **************************************************** -->
  <div class="div">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Turismo Ecuador</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/inicioSeccion">Inicio</a></li>
          <li><a href="/lugaresTuristicos">Lugares Turisticos</a></li>
          <li><a href="/SitiosObservatorios">Sitios Observatorios</a></li>
          <li><a href="/playasEcuador">Playas</a></li>
          <li><a href="/IslaGalapagos">Islas Galapagos</a></li>
          <li><a href="/montañita">Montañita</a></li>
          <li><a href="/Gastronomia">Gastronomia</a></li>
          <li><a href="/Bloc_Informativo">Block Informativo</a></li>
          <li><a href="/Contactos">Contactos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- **************************************************** -->
  <!--                     Imagen central -->
  <!-- **************************************************** -->
  <div>
    <img
      src="https://turismoi.ec/uploads/ec/photo/photo_file/12925/tour-isla-de-la-plata-y-ballenas_3937_201908120734225.jpg"
      width="1519" height="500px">

  </div><br>


  <!-- La clase row permite agregar contenedores aplicando grid en columnas -->
  <div class="row" id="box-search">
    <!-- La clase caption permite agregar texto sobre una imagen -->
    <div class="caption">
      <p style="color: white;font-size:50px ;text-shadow: 10px; text-align:center;">CONOCE ECUADOR!!</p>
      <p
        style="color: white;font-size:30px ;text-shadow: 10px; text-align:center;font-family: Georgia, 'Times New Roman', Times, serif;">

    </div>

    <!-- Clase container esta aplicando propiedades CSS a los contenedores  -->
    <div class="container" style="text-align:justify">
      <div class="row">
        <div class="col-sm-4" style="text-align:justify">

          <center>
            <h3>PERLA DEL PACÍFICO</h3>
          </center><br>

          <p>Sus imponentes calles, la amabilidad de su gente y un extenso malecón que se ensancha a lo largo del río
            Guayas, son la carta de presentación de Guayaquil. Ubicada en la costa pacífica ecuatoriana, enciende a los
            visitantes con su calor, ese mismo que en un día soleado puede alcanzar tranquilamente los 34°C.

            Esas características, que, pensándolo muy bien, podrían describir perfectamente a Barranquilla, sobre todo
            si analizamos la relación y pacto de hermandad .</p>
          <img
            src="https://revistas.elheraldo.co/sites/default/files/styles/640x360/public/2018/02/16/articulo/shutterstock_656253205.jpg"
            width="367" height="236">
        </div>
        <div class="col-sm-4">

          <center>
            <h3>MIRADOR DE TURI</h3>
          </center><br>
          <p>La montaña de Turi, según la historia incaica, fue un lugar de adoración de los dioses. Mirador: Tiene una
            vista panorámica y única que permite observar a la ciudad en todo su esplendor, este lugar es una parada
            obligada para los turistas nacionales y extranjeros; es conocido como “el balcón de Cuenca” Desde las épocas
            cañari e incásica, este lugar fue considerado un cerro sagrado y un punto estratégico de vigilancia. Sobre
            el origen de su nombre, existen varias opiniones. Aseguran algunos historiadores que el nombre “Turi” .</p>
          <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/59/ca/57/photo2jpg.jpg?w=1200&h=-1&s=1"
            width="367" height="236">

        </div>
        <div class="col-sm-4">
          <center>
            <h3>PANECILLO</h3>
          </center>

          <p>Hubo una extensa red de túneles bajo el vientre de la colina de El Panecillo en Quito. Hoy solamente están
            disponibles unas pocas entradas de limitada profundidad que alimentan los mitos urbanos y los cuentos en la
            cultura popular. Hay muy pocas referencias bibliográficas sobre estos corredores subterráneos como “La
            ciudad inca de Quito”
            de Inés del Pino, publicada en 2002, y que afirma que “estos túneles se caracterizan por poseer una
            considerable extensión, muchas veces exagerada por la imaginación popular</p>
          <img
            src="https://www.infobae.com/new-resizer/np1UqsxzlEtZ1Sm6MEe-9Er8-rc=/992x558/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/CSXBT22ANVD5BHJUPAMJ762FUI.jpg"
            width="367" height="236">
        </div>
      </div>
    </div><br><br>
    <div class="container" style="text-align:justify">
      <div class="row">
        <div class="col-sm-4" style="text-align:justify">
          <center>
            <h3>MIRADOR CHURO </h3>
          </center><br>
          <p>Maravilloso lugar, construido en 1950 cuando en ese tiempo se creaba la vía a Zamora. El padre José María
            Rodríguez Alvarado trasladó la imagen de Santa Mariana de Jesús que se encontraba en la parte baja de la
            calle 10 de Agosto.

            “El Churo”, es uno de los lugares turísticos más visitados de nuestra ciudad; en esta nota-galería te vamos
            a mostrar por qué no puede dejar de visitar y conocer este maravilloso y encantador lugar, si vives en Loja,
            o si vienes a visitar nuestra ciudad.</p>
          <img
            src="http://blog.primerreporte.com/wp-content/uploads/2019/03/e6cf4320-58dc-4e5a-9e0c-68397075d7ce-1024x768.jpg"
            width="367" height="236">
        </div>
        <div class="col-sm-4">
          <center>
            <h3>MIRADOR DE MINAS AGUAS</h3>
          </center><br>
          <p>El Mirador en el sector "Las Minas" se encunetra en este trayecto, es una cima de gran belleza localizada a
            una altura de 4130 msnm, desde aquí se puede divisar con detalle volcanes a lo lejos como el Chimborazo,
            Tungurahua, mas de cerca están Los Altares, a pocos metros Los Cubillines, y lo más impresionante es
            observar al Volcan Sangay (Provincia de Morona Samntiago) .</p>
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/12/69/e9/4b/mirador-de-las-minas.jpg" width="367"
            height="236">

        </div>
        <div class="col-sm-4">
          <center>
            <h3>MIRADOR MINAS</h3>
          </center>

          <p>El Mirador en el sector "Las Minas" se encunetra en este trayecto, es una cima de gran belleza localizada a
            una altura de 4130 msnm, desde aquí se puede divisar con detalle volcanes a lo lejos como el Chimborazo,
            Tungurahua, mas de cerca están Los Altares, a pocos metros Los Cubillines, y lo más impresionante es
            observar al Volcan Sangay (Provincia de Morona Samntiago) que en su estado activo cautiva enormemente,
            pequeñas erupciones y columnas de gas deslumbran en el firmamento. </p>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4OpbsgxmznnUo6Nh94VN_sN1s83YvRWKrYQ&usqp=CAU"
            width="367" height="236">
        </div>
      </div>
    </div>

    <!-- Estructura del formulario para el ingreso de datos  -->
    <div class="container" id="advanced-search-form">
      <center>
        <h2>Formulario</h2>
      </center>
      <form>
        <div class="form-group">
          <label for="first-name">First name</label>
          <input type="text" class="form-control" placeholder="First name" id="first-name">
        </div>
        <div class="form-group">
          <label for="last-name">Last name</label>
          <input type="text" class="form-control" placeholder="Last name" id="last-name">
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" placeholder="Country" id="country">
        </div>
        <div class="form-group">
          <label for="number">Phone number</label>
          <input type="text" class="form-control" placeholder="Phone number" id="number">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Email" id="email">
        </div>
        <div class="form-group">
          <label for="category">Categoria</label>
          <input type="text" class="form-control" placeholder="Category" id="category">
        </div>


    </div>
    <div class="clearfix"></div>
    <br> <br>
    <center> <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span
          class="glyphicon glyphicon-search"></span> Search</button></center>
    </form>
  </div>

  <!-- **************************************************** -->
  <!--                     Pie de pagina -->
  <!-- **************************************************** -->
  <footer class="navbar navbar-inverse">
    <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>

    <center>
      <div class="share">


        <button id="share-fb" class="sharer button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path
              d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
          </svg></button>
        <button id="share-tw" class="sharer button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
            <path
              d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
          </svg></button>
        <button id="share-li" class="sharer button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
          </svg></button>

        </svg></button>
        <button id="share-em" class="sharer button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
          </svg></button>

      </div>
    </center>

</body>
<style>
  body {
    background-color: #EBB600 #B3B0AB;
  }

  .thumbnail {
    position: relative;
  }

  .caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
  }

  /*navbar*/
  .collapse {
    justify-content: center;
  }

  .navbar-brand {
    padding-left: 10%;
    color: white !important;
    font-size: 20px;
  }

  .cebezera {
    background-color: #4274c5 !important;
  }


  html {
    background: url("background.jpg") no-repeat;
    background-size: cover;
    min-height: 100%;
  }

  body {
    background: none;
  }

  #advanced-search-form {
    background-color: rgb(212, 209, 209);
    max-width: 800px;
    margin: 160px auto 0;
    padding: 40px;
    color: #858b8e;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
  }

  #advanced-search-form h2 {
    padding-bottom: 20px;
    margin: 10px 20px;
    font-size: 24px;
  }

  #advanced-search-form hr {
    margin-top: 38px;
    margin-bottom: 54px;
    margin-left: 3px;
    border: 1px solid #cccccc;

  }

  #advanced-search-form .form-group {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 30%;
    float: left;
    text-align: left;
  }

  #advanced-search-form .form-control {
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
  }

  #advanced-search-form .radio-inline {
    margin-left: 10px;
    margin-right: 10px;
  }

  #advanced-search-form .gender {
    width: 30%;
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #advanced-search-form .btn {
    width: 46%;
    margin: 20px auto 0;
    display: block;
    outline: none;
  }
</style>


</html>